<p>Gong.io is an open data initiative and platform for Wollongong, Shellharbour, Kiama and the greater Illawarra region (an hour south of Sydney, Australia).</p>

<h3>What is the purpose?</h3>

<p>We're on a mission to rapidly transform the Illawarra region through the power of open data, and by harnessing the creativity of makers and developers.</p>

<h3>How can I get involved?</h3>

<ul>
<li><a href="http://gong.io/pages/upload">Got Data?</a></li>
<li><a href="http://gong.io/pages/makers">Maker or Developer?</a></li>
<li><a href="http://gong.io/pages/ideas">Got ideas?</a></li>
</ul>

<h3>What is open data?</h3>

<p>Open data is just as it sounds: it is the idea that certain data should be freely available to everyone to use and republish as they wish, without restrictions.</p>

<h3>What is this website?</h3>

<p>The website is running free and opensource software called <a href="http://ckan.org/" target="_blank">CKAN</a>. It allows individuals to register accounts and upload/share datasets, and also allows busineses, government groups and other organisations the ability to establish a page on the site where they can share and manage their datasets. The CKAN software is safe and secure, and already powers the <a href="http://data.gov.au/" target="_blank">Data.gov.au</a> and <a href="http://data.nsw.gov.au/" target="_blank">Data.nsw</a> open data platforms.</p>

<h3>Who's behind this?</h3>

<p>Gong.io was built and launched by Nathan Waters, creator of <a href="http://hackagong.com/" target="_blank">Hackagong</a> and GongStartups. The initiative is a grassroots effort run by volunteers and managed by the GongStartups community.</p>

<h3>Can I help improve the website?</h3>

<p>The customised CKAN template code is opensource and available on <a href="https://github.com/nathanwaters/gongio" target="_blank">GitHub</a>. Feel free to fork it and send me pull requests!</p>


